*{
margin: 00;
padding: 00;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}

.vh{width: 100vw;
    height: 100vh;
}

header{
    margin-top: 44px;
    margin-left: 76px;
}

.link {

width: 90px;
height: 29px;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #989D9C;
margin-left: 23px;
}

.button{
width: 130px;
height: 41px;
background: #665AE1;
border-radius: 20.5px;
border: none;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-left: 23px;
}

div{
display: inline-block;
margin-top: 217px;
margin-left: 127px;
}

img{
width: 568px;
height: 500px;
}


h1{
text-align: center;
font-weight: 900;
font-size: 100px;
line-height: 122px;
color: #515151;
margin-bottom: 32px;
}

h2{
text-align: center;
font-weight: 500;
font-size: 58px;
line-height: 71px;
color: #515151;
margin-bottom: 32px;
}

p{
text-align: center;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #848484;
width: 515px;
height: 87px;
color: #848484;
margin-top: 32px;
margin-bottom: 65px;
}

button{
width: 239px;
height: 64px;
background:#ADFF00 ;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 50px;
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #000000;
border: none;
}

@media  screen and (max-width:900px){

.link{display: none ;}

.button{ display: none;}

p{ display: none;}

.gato{
margin-top: 72px;
width: 452px;
height: 407px;
margin-left: -5px;
}

h1{
margin-top: -32px;
width: 350px;
height: 52px;




font-size: 63px;
line-height: 61px;
}

h2{
font-size: 30px;
line-height: 37px;
}

button{
 margin-left: 50px;
background: #ADFF00;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 50px;
}

.caixa{
        display: inline-block;
        margin-top: 135px;
        margin-left: 51px;

}








 }